[submodule "bkchem/oasa"]
	path = bkchem/oasa
	url = git://gitorious.org/oasa/oasa.git
[submodule "bkchem/plugins/piddle"]
	path = bkchem/plugins/piddle
	url = git://gitorious.org/bkchem/piddle.git
[submodule "plugins"]
	path = plugins
	url = git://gitorious.org/bkchem/bkchem-plugins.git
