include INSTALL README progress.log
include gpl.txt
include templates/*.cdml
include templates/*.xml
include plugins/*.xml
include plugins/*.py
include pixmaps/*.gif
include images/logo.ppm
include images/icon.ico
include images/bkchem*.png
recursive-include doc *.html *.py *.png
recursive-include dtd *.dtd *.xsd
recursive-include locale LC_MESSAGES/BKChem.mo
include locale/BKChem.pot
