include setup.cfg
include win_inst.py
include INSTALL INSTALL.binary RELEASE README progress.log
include gpl.txt progress.log
include templates/*.cdml
include templates/oo_manifest.xml
include pixmaps/*.gif
include images/logo.ppm
recursive-include doc *
recursive-include dtd *.dtd *.xsd
include locale/cs/LC_MESSAGES/BKchem.mo
include locale/pl/LC_MESSAGES/BKchem.mo
include locale/fr/LC_MESSAGES/BKchem.mo
include bkchem.iss